.container{
    display: flex;
    align-items: center;
}
.card{
    color: white;
    flex: 1;
    height: 300px;
    background-size: cover;
    margin-top: 60px;
    border-radius: 1rem;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding-left: 20px;
    cursor: pointer;
}
.card h2{
    margin: 0;
    font-size: 2.2rem;
}
.card h3{
    margin: 0;
    margin-bottom: 15px;
    font-size: 1.3rem;
}
.card:first-child{
    background-image:  linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url("https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/gettyimages-1178096645.jpg?resize=768:*");
    margin-right: 30px;
}
.card:nth-child(2){
    background-image: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url('https://cf.bstatic.com/xdata/images/city/max500/690334.webp?k=b99df435f06a15a1568ddd5f55d239507c0156985577681ab91274f917af6dbb&o=');
    margin-right: 30px;
}
.card:last-child{
    background-image: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url('https://cf.bstatic.com/xdata/images/city/max500/689422.webp?k=2595c93e7e067b9ba95f90713f80ba6e5fa88a66e6e55600bd27a5128808fdf2&o=');
}