.userNavbar{
    width: 100%;
    background-color: #003580;
    padding: 0 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}
.userNavbar a {
    color: white;
    font-size: 1.1rem;
}
.userNavbar img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
}
.wrapper{
    width: 20%;
    margin: auto;
    margin-top: 50px;
}